.public_nav .logo_image {
    max-width: 200px;
    max-height: 100px;
}

.public_nav .logo_image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.public_nav .logged_small {
    display: none;
}

@media screen and (max-width: 992px) {
    .public_nav .logged_small {
        display: flex;
    }

    .public_nav .logged_large {
        display: none;
    }
}

.admin_login_view form, .login_view form {
    max-width: 450px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.admin_login_view .logo_image, .login_view .logo_image {
    max-width: 200px;
    max-height: 100px;
    margin: 0 auto;
}

.admin_login_view .logo_image img, .login_view .logo_image img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
}